.metadata/*
RemoteSystemsTempFiles/*
ClientApp/.metadata/*
ClientApp/RemoteSystemsTempFiles/*
ClientApp/bin/*
ClientApp/.settings
ClientApp/.project
ClientApp/.classpath
ClientApp/.gitignore
ServerApp/.metadata/*
ServerApp/RemoteSystemsTempFiles/*
ServerApp/bin/*
ServerApp/.settings
ServerApp/.project
ServerApp/.classpath
ServerApp/.gitignore
buildServer/*
buildClient/*
