.metadata/*
RemoteSystemsTempFiles/*
Client_Ajouter_New_Client/.metadata/*
Client_Ajouter_New_Client/RemoteSystemsTempFiles/*
Client_Ajouter_New_Client/bin
Client_Ajouter_New_Client/.settings
Client_Ajouter_New_Client/.project
Client_Ajouter_New_Client/.classpath
Serveur_Du_Client/.metadata/*
Serveur_Du_Client/RemoteSystemsTempFiles/*
Serveur_Du_Client/bin
Serveur_Du_Client/.settings
Serveur_Du_Client/.project
Serveur_Du_Client/.classpath
