.recommenders/*
.metadata
RemoteSystemsTempFiles
pdsApp/.metadata
pdsApp/RemoteSystemsTempFiles
pdsApp/bin
pdsApp/.settings
pdsApp/.project
pdsApp/.classpath
pdsApp/.gitignore
pdsApp/src/domaine
build
